header{
        border: 3px solid black;
        background-image: url("../bb.jpg");
        
      }
      
h1 {
        color: rgb(17, 15, 15);
        margin-left: 40px;
}
head{
     style="color: black;font-size:40px"
}
fieldset{
    style="color:white;font-size:33px"
}
h2{
    style="color: black;font-size:60px"
}
p{
    style="color: black;font-size:80"
}
/*body {
    background-image: url('ou.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }/*