body{
    border-style: solid;
    border: #D5B563;
}
#navbarDropdownMenuLink{
    font-size: 1rem;
    color: #4088c4ef;
    background-color:#D5B563 ;
}
#navbarDropdownMenuLink:hover{
    color: #D5B563;
    background-color: #4088c4ef;
}

#btn2{
    color: #ffffff;
    background-color: #7aaed8;
    border: 2px solid rgb(211, 153, 45);
}

#btn2:hover{
    color: #7aaed8;
    background-color:#ffffff;
}

#nn:hover{
    background-color: #d5b56356;
    border-radius: 2rem;
}
#navbar{
    font-size: 1.05rem;
    color: #4088c4ef;
    background-color:#D5B563 ;
}
#navbar:hover{
    color: #D5B563;
    background-color: #4088c4ef;
 
}
.card-img{
    border: solid;
    box-sizing: border-box;
    border-color:#4088c4ef ;
}

tr{
    background-color:#d5b563dc ;

}
tr:hover{
    background-color:#ffffffdc ;
}
td{
    background-color:  #7aaed8e0;
    color: white;

}
td:hover{
    background-color:#407ba3 ;
}
span{
    color:#f0c557 ;
}
.img{
    width: 40rem;
    height: 12rem;
}

#im{
    border-left: 1px solid rgb(211, 153, 45);
    border-right: 1px solid rgb(211, 153, 45);
    border-radius: 1rem;
}
#ims{
    border: 1px solid rgb(211, 153, 45);
    border-radius: 1rem;
}
#tableauLoi{
    width:100%;table-layout:fixed;}
.titre_col{
    width:500px;}
.nouveau{
    color:red;font-weight:bold;}
.titre_plansite{
    padding-right:20px;color:#0e0e0e;}
.icone{
    height:32px;width:32px;}


#icons{
    height:32px;width:32px;
}

/* background-color: #4f86c4; */

/* .gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
} */
/* .gallery_box li:nth-child(even) {
    height: 304px;
} */
/* .gallery_box li:nth-child(odd) {
    height: 438px; 
} */
